<a href="https://colab.research.google.com/github/Reviandi-Naufal/EMS-Web/blob/main/Create_Database_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import json
import pandas as pd

In [2]:
def Get_Data():
    base_url = "http://213.190.4.40/iems/iems-api/index.php"
    device_token = "ed991a8d2fabbfc3067416caafdd52f8"
    page = 0
    batas = False

    api_data_lisrik = []
    api_data_device = []
    api_data_date = []
    api_data_time = []

    while (batas == False) :
      pull = requests.get(base_url + "/public/devices/pull?device_token=" + device_token + "&page=" + str(page)).json()
      page += 1
      if (len(pull["data"])) != 0:
        for i in range(len(pull['data'])): 
          api_data_lisrik.insert(0,float(pull["data"][i]["ep"]))
          api_data_device.insert(0,pull["data"][i]["id_m_devices"])
          api_data_date.insert(0,pull["data"][i]["date"])
          api_data_time.insert(0,pull["data"][i]["time"])
      else:  
        batas = True

    dataset = pd.DataFrame({'Date': api_data_date, 'Time': api_data_time,'Device': api_data_device, 'Kwh': api_data_lisrik  })
    dataset
    return dataset

In [ ]:
df = Get_Data()

In [ ]:
df

            Date      Time Device     Kwh
0     2021-08-10  18:01:17      7     0.0
1     2021-08-10  18:12:34      7     2.0
2     2021-08-10  18:17:39      7     2.0
3     2021-08-10  18:22:43      7     2.0
4     2021-08-10  18:27:48      7     2.0
...          ...       ...    ...     ...
8912  2021-10-21  12:46:27      7  5890.0
8913  2021-10-21  12:51:31      7  5891.0
8914  2021-10-21  12:56:36      7  5892.0
8915  2021-10-21  13:01:40      7  5893.0
8916  2021-10-21  13:06:45      7  5894.0

[8917 rows x 4 columns]

In [ ]:
def Get_Current_Data():
  base_url = "http://213.190.4.40/iems/iems-api/index.php"
  device_token = "ed991a8d2fabbfc3067416caafdd52f8"
  api_data_lisrik = []
  api_data_device = []
  api_data_date = []
  api_data_time = []
  response = requests.get(base_url + "/public/devices/last?device_token=" + device_token)
  data = json.loads(response.text)
  dataset = pd.DataFrame(data['data'],index=[0])
  return dataset

In [ ]:
df_now = Get_Current_Data()

In [ ]:
df_now

       id id_m_devices     va     vb  ...    ep    eq        date      time
0  118669            7  228.7  231.4  ...  6101  1.47  2021-10-23  13:35:02

[1 rows x 31 columns]